html {
    background: #e3e1d8 url(/static/images/background.jpg);
}

body {
    font-family: Helvetica Neue, sans-serif;
}

#contents {
    padding: 2rem;
    display: block;
    max-width: 50rem;
    margin-left: auto;
    margin-right: auto;
}

#logo {
    width: 5rem;
}

#mado {
    width: 4rem;
    position: fixed;
    bottom: 0;
}

#folders > div {
    position: relative;
    display: inline-block;
    text-align: center;
    font-family: monospace;
}

#folders > div > a > img {
    width: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.mono {
    font-family: monospace;
}

.no-underline {
    text-decoration: none;
}

.icon {
    height: 1em;
    margin-bottom: -1px;
    margin-right: 0.2em;
    margin-left: 0.2em;
}

footer {
    bottom: 0;
    right: 0;
    padding: 0 1em 0 1em;
    margin-right: 0.5em;
    margin-bottom: 1em;
    position: fixed;
    font-size: small;
    text-align: center;
}