html {
    /* background: #e3e1d8 url(/static/images/background.jpg); */
    background: #e3e1d8 url(/static/images/nnnoise-white.svg);
    /* background-size: 600px; */

    --palette-green-light: #d4dace;
    --palette-green-dark: #7ec47ba9;
    --palette-green-texture: url(/static/images/nnnoise-green.svg);

    --palette-red-light: #d4aeab;
    --palette-red-dark: #996e6bc9;
    --palette-red-texture: url(/static/images/nnnoise-red.svg);

    --palette-blue-light: #abbdcb;
    --palette-blue-dark: #5081a9c9;
    --palette-blue-texture: url(/static/images/nnnoise-blue.svg);

    --palette-yellow-light: #e0d089;
    --palette-yellow-dark: #d2b42fc9;
    --palette-yellow-texture: url(/static/images/nnnoise-yellow.svg);

    --palette-beige-light: #b5aca1;
    --palette-beige-dark: #938677c9;
    --palette-beige-texture: url(/static/images/nnnoise-beige.svg);

}

body {
    font-family: serif;
}

#contents {
    padding: 1.5rem;
    display: block;
    max-width: 50rem;
    margin-left: auto;
    margin-right: auto;
}

#alert {
    background-color: lightsteelblue;
    border: cornflowerblue 1px dashed;
    border-top: none;
    padding: 8px;
    color: white;
    margin-bottom: 8px;
}

#text-logo {
    width: 265px;
    max-width: 60%;
    transition: 0.2s;
    transition-timing-function: ease-out;
}

#text-logo:hover {
    scale: 1.08 0.96;
}

#mado {
    width: 4rem;
    position: fixed;
    bottom: 0;
}

#chicken {
    position: absolute;
    right: 0;
    top: -34px;
}

p > img {
    width: 100%;
}

hr {
    border-width: 1px;
    border-color: darkgray;
    border-style: dashed;
}

/* #folders > div { */
/*     position: relative; */
/*     display: inline-block; */
/*     text-align: center; */
/*     font-family: monospace; */
/* } */

/* #folders > div > a > img { */
/*     width: 50px; */
/*     display: block; */
/*     margin-left: auto; */
/*     margin-right: auto; */
/* } */

.mono {
    font-family: monospace;
}

.no-underline {
    text-decoration: none;
}

.icon {
    height: 1em;
    margin-bottom: -1px;
    margin-right: 0.2em;
    margin-left: 0.2em;
}

footer {
    margin: 1em;
    font-size: small;
    text-align: center;
}

blockquote {
    color: gray;
    font-style: italic;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
}

blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}
blockquote p {
    display: inline;
}

/* NAVBAR */

nav {
    margin-top: 1rem;
    height: 1.2rem;
    padding: 0.5rem 0.25rem;
    border-width: 1px;
    border-style: dashed;
    border-color: darkgray;
    position: relative;
}

nav ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

#page-navbar { float: left; }
#social-navbar { float: right; }

#page-navbar li, #burger {
    display: inline;
    padding: 0 0.5rem;
}

#social-navbar li {
    display: inline;
    padding: 0 0.25rem;
}

footer a, nav a, #burger-menu a {
    color: gray;
}

a:not(.card):hover {
    -webkit-animation: rainbow 6s ease infinite;
    -o-animation: rainbow 6s ease infinite;
    -z-animation: rainbow 6s ease infinite;
    animation: rainbow 6s ease infinite;

    background: -webkit-linear-gradient(0deg, #e81d1d, #e8b71d, #1de840, #1ddde8, #2b1de8, #dd00f3, #ff2400);
    -webkit-background-clip: text;
    background-size: 900% 900%;

    -webkit-text-fill-color: transparent;
}

/* ANIMATION */
@-webkit-keyframes rainbow
{
    0% { background-position: 0 82%; }
    50% { background-position: 100% 19%; }
    100% { background-position: 0 82%; }
}
@-moz-keyframes rainbow
{
    0% { background-position: 0 82%; }
    50% { background-position: 100% 19%; }
    100% { background-position: 0 82%; }
}
@-o-keyframes rainbow
{
    0% { background-position: 0 82%; }
    50% { background-position: 100% 19%; }
    100% { background-position: 0 82%; }
}
@keyframes rainbow
{
    0% { background-position: 0 82%; }
    50% { background-position: 100% 19%; }
    100% { background-position: 0 82%; }
}

#burger, #burger-menu {
    display: none;
}

#burger-menu {
    margin-top: 0;
    padding: 0.5rem 0.25rem;
    border-width: 1px;
    border-top-width: 0;
    border-style: dashed;
    border-color: darkgray;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1);
}

#burger-menu ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

#burger-menu li {
    padding: 0.2rem 0.5rem;
}

@media (max-width: 500px) {
    #burger {
        display: inline;
    }
    #burger-menu {
        display: block;
    }
    #page-navbar {
        display: none;
    }
}

/* MASONRY LAYOUT */
.masonry {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    grid-auto-rows: 5px;
}

.card.green {
    --palette-light: var(--palette-green-light);
    --palette-dark: var(--palette-green-dark);
    --palette-texture: var(--palette-green-texture);
}

.card.beige {
    --palette-light: var(--palette-beige-light);
    --palette-dark: var(--palette-beige-dark);
    --palette-texture: var(--palette-beige-texture);
}

.card.red {
    --palette-light: var(--palette-red-light);
    --palette-dark: var(--palette-red-dark);
    --palette-texture: var(--palette-red-texture);
}

.card.yellow {
    --palette-light: var(--palette-yellow-light);
    --palette-dark: var(--palette-yellow-dark);
    --palette-texture: var(--palette-yellow-texture);
}

.card.blue {
    --palette-light: var(--palette-blue-light);
    --palette-dark: var(--palette-blue-dark);
    --palette-texture: var(--palette-blue-texture);
}

.card {
    overflow: hidden;
    box-sizing: border-box;
    text-decoration: none;
    transition: 0.2s;
    background: white url(/static/images/nnnoise-white.svg);
    /* border: 4px outset var(--palette-light); */
    border: 3px outset gainsboro;
    border-radius: 5px;
    /* box-shadow: 0 0 8px 0 rgba(0,0,0,0.1); */
}

.card .img-box {
    padding: 15px;
    background: white var(--palette-texture);
}

.card img, .card .loading-animation {
    box-sizing: border-box;
    border: 3px inset gainsboro;
    /* border: 4px inset var(--palette-light); */
    /* border-radius: 5px; */
    width: 100%;
    background-color: lightgray;
}

.card img {
    display: none;
}

.card.loaded img {
    display: block;
}

.card .loading-animation {
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card.loaded .loading-animation {
    display: none;
}

.loader {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: dimgray;
  box-shadow: 24px 0 dimgray, -24px 0 dimgray;
  position: relative;
  animation: flash 0.5s ease-out infinite alternate;
}

.card .sep {
    --edge-height: 9px;
    clip-path: polygon(
        100% 0,
        0 0,
        0 var(--edge-height),
        16.66% 0,
        33.33% var(--edge-height),
        50% 0,
        66.66% var(--edge-height),
        83.33% 0,
        100% var(--edge-height)
    );
    background: white var(--palette-texture);
    height: 13px;
    width: 100%;
    display: block;
}

@keyframes flash {
  0% {
    background-color: darkgray;
    box-shadow: 24px 0 darkgray, -24px 0 dimgray;
  }
  50% {
    background-color: dimgray;
    box-shadow: 24px 0 darkgray, -24px 0 darkgray;
  }
  100% {
    background-color: darkgray;
    box-shadow: 24px 0 dimgray, -24px 0 darkgray;
  }
}

.card:hover {
    box-shadow: 12px 12px 0 0 rgba(0,0,0,0.1);
}

/* On click, scale down */
.card:active {
    box-shadow: none;
    scale: 0.95;
}

/* Add some padding inside the card container */
.card-text {
    padding: 8px 16px;
}

.card h4 {
    text-shadow: 0 0 1px rgba(0,0,0,.6);
    font-family: monospace;
    color: var(--palette-dark);
    font-size: regular;
    /* text-transform: uppercase; */
    margin: 1rem 0 0 0;
    letter-spacing: 1px;
}

.card p {
    margin-top: 0.5;
    color: dimgray;
    font-size: smaller;
}

/* GUESTBOOK */
input[type=text] {
    border-radius: 0;
}
input[type=submit] {
    border-radius: 0;
    background-color: lightsteelblue;
}

td {
    padding: 0;
    padding-right: 15px;
    vertical-align: top;
}

#guest-list {
    margin: 10px 0px;
    vertical-align: top;
    text-align: left;
    list-style-type: none;
    padding-left: 0;
}
