<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>NICK'S COOL WEBSITE</title>
		<meta name="description" content="sum projects n stuff">

		<base href="{{ BASE_URL }}">

		<link rel="icon" href="static/favicons/favicon.ico">
		<link rel="stylesheet" href="static/style.css">
	</head>

	<body>
        <div id="contents">
            {% block contents %}{% endblock %}
        </div>

        <img src="static/images/madotsuki.webp" id="mado" alt="mado gif">

<!--		<footer>-->
<!--			<p>-->
<!--				this website runs on rust! check out the source > <a href="https://github.com/breitnw/mndco11age" target="_blank">here</a> <-->
<!--				&emsp;|&emsp;-->
<!--				2023 <a href="https://github.com/breitnw" target="_blank">breitnw</a>-->
<!--			</p>-->
<!--		</footer>-->
	</body>
</html>