<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>NICK'S COOL WEBSITE</title>
		<meta name="description" content="sum projects n stuff">

		<base href="{{ BASE_URL }}">

		<link rel="icon" href="static/favicons/favicon.ico">
		<link rel="stylesheet" href="static/style.css">
	</head>

	<body>
        <div id="contents">
            {% block contents %}{% endblock %}
        </div>

        <img src="static/images/madotsuki.webp" id="mado" alt="mado gif">

		<footer>
			<a href="https://github.com/breitnw/mndco11age" target="_blank" class="no-underline">
				<img class="icon" src="static/icons/github.svg" alt="github icon">
			</a>
			<span>2023 breitnw</span>
		</footer>
	</body>
</html>