<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>{% block title %}{% endblock %}</title>
		<meta name="description" content="sum projects n stuff">

		<base href="{{ BASE_URL }}">

		<link rel="icon" href="static/favicons/favicon.ico">
		<link rel="stylesheet" href="static/style.css">
	</head>

	<body>
        <div id="contents">
			<img src="static/images/logo.png" id="text-logo" alt="nick's cool website logo" width="500px">
			<ul id="navbar">
				<li class="page"><a href="/" class="no-underline">software</a></li>
				<li class="page"><a href="music" class="no-underline">music</a></li>
				<li class="page"><a href="blog" class="no-underline">blog</a></li>
				<li class="page"><a href="guestbook" class="no-underline">guestbook</a></li>
				<li class="social">
					<a href="https://github.com/breitnw" target="_blank" class="no-underline">
						<img class="icon" src="static/icons/github.svg" alt="GitHub icon">
					</a>
				</li>
				<li class="social">
					<a href="https://twitter.com/_smsdk" target="_blank" class="no-underline">
						<img class="icon" src="static/icons/twitter.svg" alt="Twitter icon">
					</a>
				</li>
				<li class="social">
					<a href="https://www.instagram.com/breitnw/" target="_blank" class="no-underline">
						<img class="icon" src="static/icons/instagram.svg" alt="Instagram icon">
					</a>
				</li>
			</ul>
            {% block contents %}{% endblock %}
        </div>

<!--        <img src="static/images/madotsuki.webp" id="mado" alt="mado gif">-->

		<footer>
			<a href="https://github.com/breitnw/mndco11age" target="_blank" class="no-underline">
				<img class="icon" src="static/icons/github.svg" alt="github icon">
			</a>
			<span>2023 breitnw</span>
		</footer>
	</body>
</html>