{% extends 'base.html' %}

{% block title %}add blog post{% endblock %}

{% block contents %}
<form method="post" action="blog-add">
    <label for="title">title</label><br>
    <input type="text" id="title" name="title"><br>
    <label for="markdown">markdown</label><br>
    <textarea name="markdown" id="markdown" rows="30" cols="80"></textarea><br>
    <label for="key">super secret key</label><br>
    <input type="password" id="key" name="key"><br>
    <br>
    <input type="submit" value="add">
</form>
{% endblock %}