{% extends 'base.html' %}

{% block title %}blog | NICK'S COOL WEBSITE{% endblock %}
{% block description %}some articles about human things written by a human for other humans{% endblock %}

{% block contents %}
{% for article in page_context.articles %}
<div class="article-card">
    <h1><a href="blog/{{ article.location }}">{{ article.title }}</a></h1>
    <p style="color: gray"><i>{{ article.date }}</i></p>
    <p>{{ article.preview }}</p>
    {% if not loop.last %}
    <hr>
    {% endif %}
</div>
{% endfor %}
{% endblock %}