{% extends 'base.html' %}

{% block title %}guestbook | NICK'S COOL WEBSITE{% endblock %}
{% block description %}sign my guestbook! just be civil, don't make me remove anything please :'){% endblock %}


{% block contents %}
{% if page_context.sign_disabled %}
<p style="color: forestgreen">thank you for signing!</p>
{% else %}
<p>
    sign my guestbook! just be civil, don't make me remove anything please :')
</p>
<form method="post" action="guestbook">
    <label for="name">name:</label>
    <input type="text" name="name" id="name">
    <input type="submit" value="sign">
</form>
{% endif %}

<script>
    function showMore(guest) {
        const guestIdx = parseInt(guest);
        document.getElementById("more-" + guest).style.display = "inline"
        document.getElementById("link-" + guest).style.display = "none"
    }
</script>

<table id="guest-list">
    {% for guest in page_context.guests %}
    <tr>
        <!-- <td>
             <small><i style="color:gray;">{{ guest.date }}</i></small>
             </td> -->
        <td>
            {% if guest.name|length > 100 %}
            {{ guest.name[:100] }}<span id="more-{{loop.index - 1}}" style="display:none;">{{ guest.name[100:] }}</span>
            <a id="link-{{loop.index - 1}}" href="javascript:showMore('{{loop.index - 1}}')">
                <small>more...</small>
            </a>
            {% else %}
            {{ guest.name }}
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
