{% extends 'base.html' %}

{% block title %}guestbook | NICK'S COOL WEBSITE{% endblock %}
{% block description %}sign my guestbook! just be civil, don't make me remove anything please :'){% endblock %}


{% block contents %}
{% if sign_disabled %}
<p style="color: forestgreen">thank you for signing!</p>
{% else %}
<p>
    sign my guestbook! just be civil, don't make me remove anything please :')
</p>
<form method="post" action="guestbook">
    <label for="name">name:</label>
    <input type="text" name="name" id="name">
    <input type="submit" value="sign">
</form>
{% endif %}

<script>
    function showMore(guest) {
        const guestIdx = parseInt(guest);
        let li = document.getElementById("guest-list").children[guestIdx];
        li.childNodes.forEach((n) => {
            console.log(n)
            switch (n.className) {
                case "more":
                    n.style.display = "inline"
                    break;
                case "link":
                    n.style.display = "none"
                    break;
            }
        })
    }
</script>

<ul id="guest-list">
    {% for guest in page_context.guests %}
    <li>
        {% if guest.name|length > 100 %}
        {{ guest.name[:100] }}<span class="more" style="display:none;">{{ guest.name[100:] }}</span>
        <a class="link" href="javascript:showMore('{{loop.index - 1}}')">
            <small>more...</small>
        </a>
        {% else %}
        {{ guest.name }}
        {% endif %}
    </li>
    {% endfor %}
</ul>

{% endblock %}
