{% extends 'base.html' %}

{% block contents %}
	<img src="static/images/meowth-180-crop.png" id="logo" alt="logo">
	<h1>Welcome to my website :)</h1>
	<p>
		there's not much here yet... here are some links you can look at
		in the meantime if you want, there might be cool stuff there ↴
	</p>
	<ul>
		<li><a href="https://github.com/breitnw" target="_blank">GITHUB</a></li>
		<li><a href="https://twitter.com/_smsdk" target="_blank">TWT</a></li>
		<li><a href="https://www.instagram.com/breitnw/" target="_blank">INSTA</a></li>
	</ul>
	<p>
		logo is meowth because hes cool and objectively the best pokemon i made that in
		illustrator for graphic and product design
	</p>
	<br>
	<br>
	<br>
	<p style="font-size: small">
		oh and also this shit runs on rust now suck it
	</p>
<!--	<div id="folders" class="mono">-->
<!--		<div style="left: 0rem; top: 2rem;">-->
<!--			<a href="empty">-->
<!--				<img src="static/images/icons/folder_crop.png" alt="folder">-->
<!--			</a>-->
<!--			<p>stuff</p>-->
<!--		</div>-->
<!--		<div style="left: 3rem; top: 3rem;">-->
<!--			<a href="demo">-->
<!--				<img src="static/images/icons/folder_crop.png" alt="folder">-->
<!--			</a>-->
<!--			<p>untitled folder</p>-->
<!--		</div>-->
<!--	</div>-->
{% endblock %}