{% extends 'base.html' %}

{% block contents %}
<img src="static/images/meowth-180-crop.png" id="logo" alt="logo">
<h1>NICK'S COOL WEBSITE</h1>
<p>
	there's not much here yet... here are some links you can look at
	in the meantime if you want, there might be cool stuff there ↴
</p>
<ul>
	<li>
		<a href="https://github.com/breitnw" target="_blank" class="no-underline">
			<img class="icon" src="static/icons/github.svg" alt="GitHub icon">
			GITHUB
		</a>
	</li>
	<li>
		<a href="https://twitter.com/_smsdk" target="_blank" class="no-underline">
			<img class="icon" src="static/icons/twitter.svg" alt="Twitter icon">
			TWITTER
		</a>
	</li>
	<li>
		<a href="https://www.instagram.com/breitnw/" target="_blank" class="no-underline">
			<img class="icon" src="static/icons/instagram.svg" alt="Instagram icon">
			INSTA
		</a>
	</li>
</ul>
<br>
<hr>
<br>
<div id="cards">
	{% for column in columns %}
	<div class="card-column">
		{% for card in column %}
		<a class="card" href="{{ card.link }}">
			<img src="{{ card.image_src }}" alt="{{ card.name }}">
			<div class="container">
				<h4><b>{{ card.name }}</b></h4>
				<p>{{ card.description }}</p>
			</div>
		</a>
		{% endfor %}
	</div>
	{% endfor %}

</div>
<br>
<p style="font-size: small">
	***i made this server from scratch in rust so loading might be a lil iffy oops
</p>

<!--	<div id="folders" class="mono">-->
<!--		<div style="left: 0rem; top: 2rem;">-->
<!--			<a href="empty">-->
<!--				<img src="static/images/icons/folder_crop.png" alt="folder">-->
<!--			</a>-->
<!--			<p>stuff</p>-->
<!--		</div>-->
<!--		<div style="left: 3rem; top: 3rem;">-->
<!--			<a href="demo">-->
<!--				<img src="static/images/icons/folder_crop.png" alt="folder">-->
<!--			</a>-->
<!--			<p>untitled folder</p>-->
<!--		</div>-->
<!--	</div>-->
{% endblock %}