{% extends 'base.html' %}

{% block title %}software | NICK'S COOL WEBSITE{% endblock %}
{% block description %}
I'm a student studying programming language design and theory, and I love to make organic, free-range, locally grown software. 
{% endblock %}

{% block contents %}
<link rel="stylesheet" type="text/css" href="static/icomoon.css">
<p>
I'm a student studying programming language design and theory. In my free time I love to make organic, free-range, locally grown software. Below you can find some of my favorite projects, my research is mostly on my github though because I can't make it into cool gifs.
</p>

<!-- <p style="font-size:x-small;color:gray">
	 P.S. i do apologize if this website is a bit of an assault on the senses... i kinda like it that way...
	 </p> -->

<br>

<div class="masonry">
	{% for card in page_context.cards %}
	<a class="card {{ card.color }}" href="{{ card.link }}">
		<div class="card-contents">
			<div class="img-box">
				<div class="loading-animation">
					<span class="loader"></span>
				</div>
				<img src="{{ card.image_src }}" alt="{{ card.name }}">
				<h4 class="faded" style="display:inline-block">
					<b>{{ card.name }}</b>
				</h4>
				<span class="faded" style="float:right; font-size:1.2rem; margin-top:15px">
					{% for tool in card.tool %}<i class="icon-{{ tool }}" style="margin-left:8px"></i>{% endfor %}
				</span>
				<!-- <span class="tools" style="float: right"> -->
				<!-- </span> -->
			</div>
			<div class="sep"></div>
			<div class="card-text">
				<p>{{ card.description }}</p>
			</div>
		</div>
	</a>
	{% endfor %}
</div>

<br>

<script type="text/javascript" src="static/imagesloaded.pkgd.min.js"></script>
<script type="text/javascript" src="static/masonry.js"></script>

{% endblock %}
