{% extends 'base.html' %}

{% block title %}software | NICK'S COOL WEBSITE{% endblock %}
{% block description %}
i do some software development and research in my free time and
for school (cs major @ northwestern). my main interest areas are graphics and programming
languages! you can find some of my favorite projects i've done below; all are free and
open source and on my github too if you're weird like me and wanna know how i made them.
{% endblock %}

{% block contents %}
<p>
	i do some software development and research in my free time and
	for school (cs major @ northwestern). my main interest areas are graphics and programming
	languages! you can find some of my favorite projects i've done below; all are free and
	open source and on my github too if you're weird like me and wanna know how i made them.
</p>

<div class="masonry">
	{% for card in page_context.cards %}
	<a class="card" href="{{ card.link }}">
		<div class="card-contents">
			<div class="img-box">
				<div class="loading-animation">
					<span class="loader"></span>
				</div>
				<img src="{{ card.image_src }}" alt="{{ card.name }}">
			</div>
			<div class="card-text">
				<h4><b>{{ card.name }}</b></h4>
				<p>{{ card.description }}</p>
			</div>
		</div>
	</a>
	{% endfor %}
</div>

<br>

<script src="https://unpkg.com/imagesloaded@5/imagesloaded.pkgd.min.js"></script>
<script type="text/javascript" src="static/masonry.js"></script>

{% endblock %}
