{% extends 'base.html' %}

{% block title %}software | NICK'S COOL WEBSITE{% endblock %}
{% block description %}
i do some software development and research in my free time and
for school (cs major @ northwestern). my main interest areas are graphics and programming
languages! you can find some of my favorite projects i've done below; all are free and
open source and on my github too if you're weird like me and wanna know how i made them.
{% endblock %}

{% block contents %}
<link rel="stylesheet" type="text/css" href="static/icomoon.css">
<p>
	i do some software development and research in my free time and
	for school (cs major @ northwestern). my main interest areas are graphics and programming
	languages! you can find some of my favorite projects i've done below; all are free and
	open source and on my github too if you're weird like me and wanna know how i made them.
</p>

<p style="font-size:x-small;color:gray">
P.S. i do apologize if this website is a bit of an assault on the senses... i kinda like it that way...
</p>

<br>

<div class="masonry">
	{% for card in page_context.cards %}
	<a class="card {{ card.color }}" href="{{ card.link }}">
		<div class="card-contents">
			<div class="img-box">
				<div class="loading-animation">
					<span class="loader"></span>
				</div>
				<img src="{{ card.image_src }}" alt="{{ card.name }}">
				<h4 class="faded" style="display:inline-block">
					<b>{{ card.name }}</b>
				</h4>
				<span class="faded" style="float:right; font-size:1.2rem; margin-top:15px">
					{% for tool in card.tool %}<i class="icon-{{ tool }}" style="margin-left:8px"></i>{% endfor %}
				</span>
				<!-- <span class="tools" style="float: right"> -->
				<!-- </span> -->
			</div>
			<div class="sep"></div>
			<div class="card-text">
				<p>{{ card.description }}</p>
			</div>
		</div>
	</a>
	{% endfor %}
</div>

<br>

<script type="text/javascript" src="static/imagesloaded.pkgd.min.js"></script>
<script type="text/javascript" src="static/masonry.js"></script>

{% endblock %}
